<ion-content>
 <!-- header -->
 <div class="header">
    <div class="container">
        <nav class="navbar">
            <div class="container-fluid">
              <a  class="navbar-brand" href=""><img src="assets/images/inlogo.png" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                
              </button>
              <div class="collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#why">Why verdebooks?</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#pricingsection">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#features">Solutions</a>
                  </li>
                  
                  
                </ul>
                <button  class="hbtn1"  href="#form"> <a class="alink" href="#form">Contact</a></button>
                <button routerLink="/signin" class="hbtn2">login</button>
                 
              </div>
            </div>
          </nav>
        
    </div>
</div>
<!-- banner -->
<div class="banner">
<div class="container">
    <div class="bannercontent">
        <div class="banner1">
            <h1 class="bannerheading">We are Providing <span class="bannerheading2">Tools</span><br>
                to help your <span class="bannerheading2">Business thrive.</span></h1>
            <p class="key1"><img src="assets/images/inGroup 5.png" width="35px"><span class="feature">Run Payroll & View all
                    Reports.</span></p>
            <p class="key1"><img src="assets/images/inGroup 5.png" width="35px" alt=""><span class="feature">Import Employees
                    Info.</span></p>
            <p class="key1"><img src="assets/images/inGroup 5.png" width="35px" alt=""><span class="feature">Setup your Banking
                    Details.</span></p>
            <div class="bannerbtn">
                <button class="bbtn1">Book A Demo</button>
                <button class="bbtn2"><img class="btnicon" src="assets/images/inGroup (1).png" alt=""> <span>Learn More</span></button>
            </div>
        </div>
        <div class="banner2">
            <img class="bannerimg" src="assets/images/inlaptop.png" alt="">
        </div>


    </div>
</div>
</div> 
<!-- pricing table -->
<div id="pricingsection">
    <div class="container">
        <div class="feature1">
            <img class="pricing-img" src="assets/images/inGroup 991.png" alt="">
            <h2 class="featureh">Our <span class="featureh1">Pakages</span></h2>
            <table class="pricing-table">
                <tr>
                    <th class="bb-1"> </th>
                    <th class="pricing-table bt">
                        <h2 class="Unlimited">Business VIP</h2>
                        <p>Get the Full Suite</p>
                        <p class="ahadusa"> <sup>US$</sup><span class="a35"> 35</span><sub>/month</sub></p>
                    </th>
                    <th bgcolor="#BFEBBD" class="bb-1">
                        <P class="mostpopular">Most Popular</P>
                        <h2 class="Unlimited">Business Unlimited</h2>
                        <p >Grow your Business</p>
                        <p class="ahadusa"> <sup>US$</sup><span class="a35"> 25</span><sub>/month</sub></p>
                    </th>
                    <th class="pricing-table  bt br">
                        <h2 class="Unlimited">Business Basic</h2>
                        <p>Accept Online Payments</p>
                        <p class="ahadusa"> <sup>US$</sup><span class="a35"> 17</span><sub>/month</sub></p>
                    </th>
                </tr>
                <tr>
                    <td class="table-content ahadtick ">
                        <p class="ahadp">Lorem Lipsum</p> <img class="table-icon" src="assets/images/inIMAGE.png" alt="">
                    </td>
                    <td class="br-1 bl-1 "> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="tablecolor"> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="bl-1 "> <img src="assets/images/inVector (1).png" alt=""></td>
                </tr>
                <tr>
                    <td class="table-content bt-1 bb-1 ahadtick ">
                        <p class="ahadp">Plans & recurring payments</p> <img class="table-icon" src="assets/images/inIMAGE.png"
                            alt="">
                    </td>
                    <td class="pricing-table ahadtick"> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="tablecolor pricing-table br bl"> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="bl-1 bt-1 bb-1"> <img src="assets/images/inVector (1).png" alt=""></td>
                </tr>
                <tr>
                    <td class="table-content ahadtick">
                        <p class="ahadp"> Customer accounts </p><img class="table-icon" src="assets/images/inIMAGE.png" alt="">
                    </td>
                    <td class="br-1 bl-1 "> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="tablecolor"> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="bl-1 "> <img src="assets/images/inVector (1).png" alt=""></td>
                </tr>


                <tr>
                    <td class="table-content bt-1 bb-1 ahadtick">
                        <p class="ahadp">Import Excel Data</p> <img class="table-icon" src="assets/images/inIMAGE.png" alt="">
                    </td>
                    <td class="pricing-table"> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="tablecolor pricing-table br bl"> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="bl-1 bt-1 bb-1"> <img src="assets/images/inVector (1).png" alt=""></td>
                </tr>
                <tr>
                    <td class="table-content ahadtick">
                        <p class="ahadp">Lorem Lipsum</p> <img class="table-icon" src="assets/images/inIMAGE.png" alt="">
                    </td>
                    <td class="br-1 bl-1 "> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="tablecolor"> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="bl-1"> <img src="assets/images/inVector (1).png" alt=""></td>
                </tr>
                <tr>
                    <td class="table-content bt-1 bb-1 ahadtick">
                        <p class="ahadp">Remove ads</p> <img class="table-icon" src="assets/images/inIMAGE.png" alt="">
                    </td>
                    <td class="pricing-table"> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="tablecolor pricing-table br bl"> <img src="assets/images/inVector (1).png" alt=""></td>
                    <td class="bt-1 bl-1 bb-1"> <img src="assets/images/inVector (1).png" alt=""></td>
                </tr>
                <tr>
                    <td class="table-content"> </td>
                    <td class="ahadbtn"> <button class="tablebtn1">Coming Soon</button></td>
                    <td class="tablecolor ahadbtn"> <button class="tablebtn2">Coming Soon</button></td>
                    <td class="ahadbtn"> <button class="tablebtn1">Coming Soon</button></td>

                </tr>

            </table>

        </div>


    </div>
</div>
<!-- Stunning Features -->
<div id="features">
    <div class="container">
        <div class="feature1">
            <img class="featureicon" src="assets/images/inGroup 999.png" alt="">
            <h2 class="featureh">Stunning <span class="featureh1">Features</span></h2>
        </div>
        <div class="feature2">
            <div class="box">
                <div class="boxsub">
                    <h2 class="boxh">Easy-to-use <br> <span class="boxh1">Payroll Software</span> </h2>
                    <img class="boximg" src="assets/images/inGroup 19.png" alt="">
                </div>
                <p class="boxp">Our Payroll software is easy to use, with an intuitive interface that makes it easy
                    for you to find the information you need, and for your candidates to fill out their profiles
                    quickly.
                </p>
            </div>
            <div class="box">
                <div class="boxsub">
                    <h2 class="boxh">Easy-to-use <br> <span class="boxh1">Payroll Software</span> </h2>
                    <img class="boximg" src="assets/images/inGroup 19.png" alt="">
                </div>
                <p class="boxp">Our Payroll software is easy to use, with an intuitive interface that makes it easy
                    for you to find the information you need, and for your candidates to fill out their profiles
                    quickly.
                </p>
            </div>
            <div class="box">
                <div class="boxsub">
                    <h2 class="boxh">Easy-to-use <br> <span class="boxh1">Payroll Software</span> </h2>
                    <img class="boximg" src="assets/images/inGroup 19.png" alt="">
                </div>
                <p class="boxp">Our Payroll software is easy to use, with an intuitive interface that makes it easy
                    for you to find the information you need, and for your candidates to fill out their profiles
                    quickly.
                </p>
            </div>
            <div class="box">
                <div class="boxsub">
                    <h2 class="boxh">Easy-to-use <br> <span class="boxh1">Payroll Software</span> </h2>
                    <img class="boximg" src="assets/images/inGroup 19.png" alt="">
                </div>
                <p class="boxp">Our Payroll software is easy to use, with an intuitive interface that makes it easy
                    for you to find the information you need, and for your candidates to fill out their profiles
                    quickly.
                </p>
            </div>
            <div class="box">
                <div class="boxsub">
                    <h2 class="boxh">Easy-to-use <br> <span class="boxh1">Payroll Software</span> </h2>
                    <img class="boximg" src="assets/images/inGroup 19.png" alt="">
                </div>
                <p class="boxp">Our Payroll software is easy to use, with an intuitive interface that makes it easy
                    for you to find the information you need, and for your candidates to fill out their profiles
                    quickly.
                </p>
            </div>
            <div class="box">
                <div class="boxsub">
                    <h2 class="boxh">Easy-to-use <br> <span class="boxh1">Payroll Software</span> </h2>
                    <img class="boximg" src="assets/images/inGroup 19.png" alt="">
                </div>
                <p class="boxp">Our Payroll software is easy to use, with an intuitive interface that makes it easy
                    for you to find the information you need, and for your candidates to fill out their profiles
                    quickly.
                </p>
            </div>



        </div>
        <div class="adbanner">
            <div class="adcontent">
                <h2 class="adh">We are Providing <span class="adh1">Tools</span><br>
                    to help your <span class="adh1">Business thrive.</span></h2>
                <button class="adbtn"> <img class="btnicon" src="assets/images/inGroup (1).png" alt=""> <span>learn more</span>
                </button>
            </div>
            <img class="adimg" src="assets/images/inGreen Mask Group.png" alt="">
        </div>

    </div>
</div>
<!-- new section why -->
<div id="why">
    <div class="container">
        <div class="why-content">
            <div class="feature1">
                <img class="featureicon" src="assets/images/inGroup 1010.png" alt="">
                <h2 class="featureh">Why <span class="featureh1"> VerdeBooks?</span></h2>
            </div>
            <div class="why-box">
                <div class="why-box-1">
                    <img class="why-box-1-img" src="assets/images/inwhyBorder.png" alt="">
                    <div class="ahadabdul">
                        <div class="why-box-1-sub">
                            <div class="why-box-sub-1">
                                <h2 class="why-box-h">Motive 1 <br> <span class="why-box-h2">Data Fetching</span>
                                </h2>
                                <h2 class="why-box1a">1</h2>

                            </div>
                            <p class="why-boxp">The Y8HR data fetching software allows you to easily and quickly get
                                the
                                data you need from any source, including your own database.
                            </p>
                        </div>

                        <div class="why-box-1-sub">
                            <div class="why-box-sub-1">
                                <h2 class="why-box-h">Motive 2 <br> <span class="why-box-h2">Data Fetching</span>
                                </h2>
                                <h2 class="why-box1a">2</h2>

                            </div>
                            <p class="why-boxp">The Y8HR data fetching software allows you to easily and quickly get
                                the
                                data you need from any source, including your own database.
                            </p>
                        </div>
                    </div>

                    <div class="why-box-1">

                        <div class="ahadabdul">
                            <div class="why-box-1-sub">

                                <div class="why-box-sub-1">
                                    <h2 class="why-box-h">Motive 3 <br> <span class="why-box-h2">Data
                                            Fetching</span> </h2>
                                    <h2 class="why-box1a">3</h2>

                                </div>
                                <p class="why-boxp">The Y8HR data fetching software allows you to easily and quickly
                                    get the
                                    data you need from any source, including your own database.
                                </p>
                            </div>

                            <div class="why-box-1-sub">
                                <div class="why-box-sub-1">
                                    <h2 class="why-box-h">Motive 4 <br> <span class="why-box-h2">Data
                                            Fetching</span> </h2>
                                    <h2 class="why-box1a">4</h2>

                                </div>
                                <p class="why-boxp">The Y8HR data fetching software allows you to easily and quickly
                                    get the
                                    data you need from any source, including your own database.
                                </p>
                            </div>

                        </div>
                        <img class="why-box-2-img" src="assets/images/inwhyBorder.png" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- Client reviews -->
 <div id="reviews">
    <div class="container">
        <div class="reviewscontent">
            <h2 class="reviewsh">Let’s check our <br> <span class="reviewsh1">Clients Reviews.</span></h2>
            <img class="reviewsimg" src="assets/images/inMain Arrow Image.png" alt="">
            <div class="rbox">
                <div class="box1">
                    <img class="bimg1" src="assets/images/inTestimonials-card-1 (1).png" alt="">
                    <div class="boxcontent">
                        <h2 class="boxname">Jerry<br><span class="boxname1">Peel HR</span></h2>
                        <img class="bimg2" src="assets/images/inGroup 79.png" alt="">
                    </div>
                    <p class="boxpp">I have been working with the team at Y8HR for almost two years now, and I have
                        found them to be a great team of people.
                        They are knowledgeable about the products that they sell, and they are always willing to go
                        above and beyond for their customers.
                    </p>


                </div>
                <div class="box1">
                    <img class="bimg1" src="assets/images/inTestimonials-card-2.png" alt="">
                    <div class="boxcontent">
                        <h2 class="boxname">Alesha<br><span class="boxname1">OTSS</span></h2>
                        <img class="bimg2" src="assets/images/inGroup 79.png" alt="">
                    </div>
                    <p class="boxpp">I have been working with the team at Y8HR for almost two years now, and I have
                        found them to be a great team of people.
                        They are knowledgeable about the products that they sell, and they are always willing to go
                        above and beyond for their customers.
                    </p>


                </div>
                <div class="box1">
                    <img class="bimg1" src="assets/images/inTestimonials-card-3 (2).png" alt="">
                    <div class="boxcontent">
                        <h2 class="boxname">Jennifer<br><span class="boxname1">Y8HR</span></h2>
                        <img class="bimg2" src="assets/images/inGroup 79.png" alt="">
                    </div>
                    <p class="boxpp">I have been working with the team at Y8HR for almost two years now, and I have
                        found them to be a great team of people.
                        They are knowledgeable about the products that they sell, and they are always willing to go
                        above and beyond for their customers.
                    </p>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- form -->
<div id="form">
    <div class="container">
        <div class="formcontent">
            <img class="formicon" src="assets/images/incontactUs.png" alt="">
            <h2 class="formh">Interact <span class="featureh1"> With Us</span></h2>
            <p class="formp">For any questions or feedback please feel free to contact us using the form below,
                or
                email us at <span class="formp1">Info@verdebooks.com</span></p>
        </div>
        <div class="formmain">
            <form class="formm" action="">
                <div class="f1">
                    <div class="firstname">
                        <label class="label" for="fname">First Name:</label>

                        <input class="ffield" type="text" id="fname" name="first name">
                    </div>
                    <div class="lastname">
                        <label class="label" for="lname">Last Name:</label>
                        <input class="ffield" type="text" id="lname" name="last name">
                    </div>
                </div>
                <div class="f1">
                    <div class="firstname">
                        <label class="label" for="email">E-mail:</label>
                        <input class="ffield" type="email" id="email" name="email">
                    </div>
                    <div class="lastname">
                        <label class="label" for="subject">Subject:</label>

                        <input class="ffield" type="text" id="subject" name="subject">
                    </div>
                </div>

                <label class="label" for="message">Message:</label>
                <br>
                <textarea class="ffieldmessage"> </textarea>

                <br>
                <input class="formbtn" type="button" value="Submit">


            </form>
            <img class="contactusimg" src="assets/images/incontact.png" alt="">

        </div>

    </div>
</div>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footercontent">
            <div class="footer1">
                <img src="assets/images/inlogo (1).png" alt="logo">
                <h3 class="footerrights"> verdebooks.com © 2023. All Rights Reserved.
                    <br>
                    <hr>
                    <a class="footerright1" href="https://i8is.com/"target=”_blank”>Powered by i8is</a>
                </h3>
                <div class="footericon">
                    <a href="#" class="fa fa-linkedin"><img src="assets/images/infacebook.png" alt=""></a>
                    <a href="#" class="fa fa-facebook"><img src="assets/images/inInsta.png" alt=""></a>
                    <a href="#" class="fa fa-instagram"><img src="assets/images/inlinkdin.png" alt=""></a>
                     
                </div>
                
                <img class="footerimg" src="assets/images/infooter1.png" alt="">


            </div>
            <div class="footer2">
                <h2 class="footer2h">Quick links</h2>
                <a class="footer-menu" href="#features">Solutions</a>
                <br>
                <a class="footer-menu" href="#why">Why verdebooks?</a>
                <br>
                <a class="footer-menu" href="#reviews">Testimonials</a>
                
                <br>

                    <a class="footer-menu" href="#pricingsection">Pricing</a>
                    <br>
                   

                    <a class="footer-menu" href="">Privacy Policy</a>
                
            </div>
            <div class="footer3">
                <h2 class="footer3h">Connect with US</h2>
                <input class="emailbtn1" type="text" placeholder="Email Address"><button
                    class="emailbtn">Send</button>
                <img class="footer3img" src="assets/images/inEARTH.png" alt="">
            </div>
        </div>
    </div>
</div>


</ion-content>

