<ion-content>

  <ion-header>
    <ion-toolbar class="bgheader">
      <ion-buttons slot="start" class="time mgtop30px mgbottom58px">
      </ion-buttons>
      <ion-title class="invoiceHeading mgtop30px mgbottom58px">Invoice no.1001</ion-title>
      <ion-buttons slot="end" class="setting mgright30px mgtop30px mgbottom58px">
      </ion-buttons>
      <ion-buttons slot="end" class="question mgright30px mgtop30px mgbottom58px">
      </ion-buttons>
      <ion-buttons slot="end" class="close mgright30px mgtop30px mgbottom58px">
      </ion-buttons>
    </ion-toolbar>
    <div class="bgheader paddingbottom50px paddingleft30px paddingright30px">
      <ion-row>
        <ion-col size="12" size-md="2" class="padding10px">
          <div class="displayflex">
            <ion-label class="colorwhite  labelheading">Coustomer</ion-label>
            <div class="bgimagelable"></div>
          </div>
          <ion-item class="mgtop10px bodor6px">
            <ion-select  class="width100per">
              <ion-select-option value="nes">NES</ion-select-option>
              <ion-select-option value="n64">Nintendo64</ion-select-option>
              <ion-select-option value="ps">PlayStation</ion-select-option>
              <ion-select-option value="genesis">Sega Genesis</ion-select-option>
              <ion-select-option value="saturn">Sega Saturn</ion-select-option>
              <ion-select-option value="snes">SNES</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>


        <ion-col size="12"  size-md="3" class="mg0px mgright30px padding10px">
          <div class="displayflex">
            <ion-label class="colorwhite  labelheading">Coustomer email</ion-label>
            <div class="bgimagelable"></div>
            <div class="cc">Cc/Bcc</div>
          </div>
          <ion-item class="mgtop10px bodor6px">
            <ion-input placeholder="Jacksonnoah@gmail.com"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size="10" size-md="2" offset-md="5">
          <div class="texrcolor balances" >BALANCE DUE</div>
          <div class="price ">PKRs 0.00</div>
        </ion-col>
      </ion-row>
    </div>




    <ion-row class="bgheader paddingbottom60px paddingleft30px paddingright30px">
      <ion-col size="12" size-md="2" class="mgtop30px padding10px">
        <ion-label class="colorwhite  labelheading">Billing Address</ion-label>
        <ion-item class="mgtop10px bodor6px">
          <ion-input placeholder="XYZ"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="2" class="mgtop30px padding10px">
        <div class="displayflex">
          <ion-label class="colorwhite  labelheading">Terms</ion-label>
          <div class="bgimagelable"></div>
        </div>
        <ion-item class="mgtop10px boder6pxSecond">
          <ion-select class="width100per">
            <ion-select-option value="nes">NES</ion-select-option>
            <ion-select-option value="n64">Nintendo64</ion-select-option>
            <ion-select-option value="ps">PlayStation</ion-select-option>
            <ion-select-option value="genesis">Sega Genesis</ion-select-option>
            <ion-select-option value="saturn">Sega Saturn</ion-select-option>
            <ion-select-option value="snes">SNES</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>



      <ion-col size="12" size-md="2" class=" mgtop30px padding10px">
        <div class="displayflex">
          <ion-label class="colorwhite  labelheading">Invoic Date</ion-label>
          <div class="bgimagelable"></div>
        </div>
        <ion-item class="mgtop10px boder6pxSecond">
          <ion-input type="date"> </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12" size-md="2" class=" mgtop30px padding10px">
        <div class="displayflex">
          <ion-label class="colorwhite  labelheading">Due Date</ion-label>
          <div class="bgimagelable"></div>
        </div>
        <ion-item class="mgtop10px boder6pxSecond">
          <ion-input type="date"> </ion-input>
        </ion-item>
      </ion-col>


      <ion-col size="12" size-md="3" offset-md="1" class="mgtop30px padding10px">
        <div class="displayflex">
          <ion-label class="colorwhite  labelheading">Invoic No</ion-label>
          <div class="bgimagelable"></div>
        </div>
        <ion-item class="mgtop10px boder6pxSecond">
          <ion-input placeholder="1001"> </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-header>


  <ion-grid class="padding0px">
  <ion-row>
    <ion-col size="1" size-md="1" class="colbodor">

    </ion-col>
    <ion-col size="1" size-md="1" class="colbodor">
      NO
    </ion-col>
    <ion-col size="2" size-md="2" class="colbodor">
        <div class="ion-text-center">
          <span>PRODUCT/SERVICE</span>
          <span><img src="../../assets/images/Help%201.png" class="product"></span>
        </div>
    </ion-col>
    <ion-col  size="4" size-md="4" class="colbodor">
      DESCRIPTION
    </ion-col>
    <ion-col size="1" size-md="1" class="colbodor">
      QTY
    </ion-col>
    <ion-col size="1" size-md="1" class="colbodor">
      RATE
    </ion-col>
    <ion-col size="1" size-md="1" class="colbodor">
      AMOUNT
    </ion-col>
    <ion-col size="1" size-md="1" class="colbodor">

    </ion-col>
  </ion-row>



  <ion-row *ngFor="let inputfield of inputfields; let i=index">
    <ion-col size="1" size-md="1" class="colbodor">
      <img src="../../assets/images/Group.png" class="imageDrag">
    </ion-col>
    <ion-col size="1" size-md="1" class="colbodor">
      {{i + 1}}.
    </ion-col>
    <ion-col size="2" size-md="2" class="colbodor">
      <ion-input></ion-input>
    </ion-col>
    <ion-col size="4" size-md="4" class="colbodor">
      <ion-input></ion-input>
    </ion-col>
    <ion-col size="1" size-md="1" class="colbodor">
      <ion-input></ion-input>
    </ion-col>
    <ion-col size="1" size-md="1" class="colbodor">
      <ion-input></ion-input>
    </ion-col>
    <ion-col size="1" size-md="1" class="colbodor">
      <ion-input></ion-input>
    </ion-col>
    <ion-col size="1" size-md="1" class="colbodor" (click)="remove(i)">
      <img src="../../assets/images/Delete%201.png" class="imageDrag">
    </ion-col>
  </ion-row>


  <ion-row class="mgto34px">
    <ion-col size="12" offset-md="1" size-md="7">
      <ion-button fill="outline" class="btoutline" (click)="addline()">Add Lines</ion-button>
      <ion-button fill="outline" class="btoutline mgleft20px" (click)="removeAll()">Clear all Lines</ion-button>
    </ion-col>

    <ion-col size="6" size-md="2">
      <div class="totalprices">Total </div>
      <div class="totalprices">Balance Due</div>
    </ion-col>

    <ion-col size="4" size-md="1">
      <div class="totalpricesPrs">PRs 0.00</div>
      <div class="totalpricesPrs">PRs 0.00</div>
    </ion-col>
  </ion-row>
  <ion-row class="mgtop61px">
    <ion-col size="12" size-md="3" offset-md="1" class="mgleft16px">
      <ion-label class="colormessage  labelheading">Message on invoice</ion-label>
      <ion-item class="mgtop10px messagecolorbodor" lines="none">
        <ion-textarea placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col size="12"   size-md="3" class="mgleft16px">
      <ion-label class="colormessage  labelheading">Message on statement</ion-label>
      <ion-item class="mgtop10px messagecolorbodor" lines="none">
        <ion-textarea placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>


  <ion-row class="mgtop44px paddingbottom58px">
    <ion-col size="12" size-md="3" offset-md="1">
      <div class="displayflex">
        <div><img src="../../assets/images/Atttachment%201.png" class="bgmessage"> </div>
        <div class="colormessage  labelheading ">Attachments</div>
        <div class="maximum">Maximum size: 200mb</div>
      </div>
      <ion-button fill="outline" class="btoutlinemessage mgtop10px">Drag/Drop file here or click the icon</ion-button>
    </ion-col>
  </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar class="bgheader paddingbottom38px paddingtop41px">
    <ion-row>
      <ion-col size="4"  size-md="2" offset-md="1">

        <ion-button  class="btoutlinecancle">Cancle</ion-button>
      </ion-col>


      <ion-col size="4"  size-md="6">
        <div class="colorwhite customer">Print or Preview | Customise</div>
      </ion-col>


      <ion-col size="4"  size-md="3" >
        <ion-button  class="btoutlinecancle" >Save</ion-button>
        <ion-button  class="btsave">
          Save and send
          <ion-icon name="caret-down-outline" slot="end"></ion-icon>
        </ion-button>

      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
